mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field {
  width: 100%;
}
.file-field {
  width: 100%;
}
.text-area {
  padding: 16px;
  mat-form-field {
    width: 100%;
  }
}
