<div class="padding-layer">

<h2>
 File Merger Review
</h2>

<mat-accordion>
    <app-conflicting-keys [comparisonResults]="comparisonUtilityService.Mismatches"/>
    <app-removed-keys [comparisonResults]="comparisonUtilityService.Missing"/>

  <app-new-keys [comparisonResults]="comparisonUtilityService.Extra"/>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Same Keys and Values </mat-panel-title>
      <mat-panel-description> {{comparisonUtilityService.None.length}} key(s) and values(s) are same  </mat-panel-description>
    </mat-expansion-panel-header>
    @for (comparisonResult of comparisonUtilityService.None; track $index) {
      <div class="row">
        <span>key: {{comparisonResult.key}}</span>
        <span>value: {{comparisonResult.sourceValue}}</span>
      </div>
    }
  </mat-expansion-panel>
</mat-accordion>
<br>
<div class="heading">
  <h3>Final Result</h3>
  <mat-form-field class="field">
    <mat-label>File Type</mat-label>
    <mat-select [(value)]="selectedFileType">
      <mat-option *ngFor="let type of fileTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field >


    <textarea
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="20"
    cdkAutosizeMaxRows="20"
    matInput class="content"
    [(ngModel)]="content"
    >
    </textarea>
    </mat-form-field>
</div>
</div>
