mat-expansion-panel {
  background: #f6dce0;
  border: 1px solid #ff4558;
  &.resolved {
    background: #f4fff1 !important;
    border-color: #4caf50 !important;
    color: black !important;
    mat-panel-title,
    mat-panel-description {
      color: black !important;
    }
  }
}
.error {
  color: #cc3300;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px;
  mat-icon {
    margin-right: 16px;
  }
}

.selected {
  border-radius: 5px;
  border: 1px solid green !important;
  background-color: #44b408 !important;
  color: white;
  mat-icon {
    color: white;
  }
}
.full-width {
  width: 100%;
}
