<mat-expansion-panel hideToggle [class.resolved]="ResolvedCount==comparisonResults.length">
  <mat-expansion-panel-header>
    <mat-panel-title> New Keys </mat-panel-title>
    <mat-panel-description>
    <span>
      {{ResolvedCount}}/{{comparisonResults.length}} key(s) has been Merged
    </span>
    <span>
      <mat-icon  style="color:white">
        {{ResolvedCount!=comparisonResults.length?'warning':'verified'}}
      </mat-icon>
    </span>

    </mat-panel-description>
  </mat-expansion-panel-header>
  @for (comparisonResult of comparisonResults; track $index) {
    <app-keep-remove-key [comparisonResult]="comparisonResult"></app-keep-remove-key>
  }
</mat-expansion-panel>
