html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.resolved {
  background-color: #44b408 !important;
  color: white !important;
  mat-panel-title,
  mat-panel-description {
    color: white;
  }
  mat-icon {
    color: white !important;
  }
}
.select-panel mat-option {
  min-height: 42px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
