html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.select-panel mat-option {
  min-height: 42px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.not-resolved {
  background: #ef9a9a;
}
.resolved {
  background: #a5d6a7;
}

mat-expansion-panel {
  box-shadow: none !important;
  border: 1px solid #e3e2e5 !important;
}
