
<header class="row">
    <span class="header-label">Input your App Settings</span>
    <app-select [options]="dataComparisonService.fileTypes" [selectedOption]="dataComparisonService.selectedFileType"></app-select>
</header>
<main>
  <div class="container">

    <app-data-input [type]="ContentSource.SOURCE"></app-data-input>
    <app-data-input [type]="ContentSource.TARGET"></app-data-input>
  </div>
  <div class="actions">
    <button mat-flat-button
    (click)="next()"
    >
      Next
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</main>
