header {
  background: #d7e3ff;
  min-height: 68px;
  padding: 16px;
  box-sizing: border-box;
}

.header-label {
  font-size: 1.7em;
  font-weight: 500;
}
.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 140px);
}
app-data-input {
  display: contents;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  button {
    margin-right: 16px;
    background-color: #2f70ca;
    border-radius: 5px;
    width: 130px;
  }
}
